about-time==4.2.1
absl-py==2.2.0
accelerate==0.29.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
alive-progress==3.2.0
annotated-types==0.7.0
attrs==25.3.0
auto-gptq==0.5.1
autograd==1.7.0
bitsandbytes==0.43.1
blessed==1.21.0
Brotli
cachetools==5.5.2
certifi
charset-normalizer
clarabel==0.10.0
click==8.1.8
cma==3.2.2
colorama==0.4.6
contourpy==1.3.1
cvxpy==1.6.4
cycler==0.12.1
datasets==3.4.1
deepspeed==0.16.4
Deprecated==1.2.18
dill==0.3.8
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.8.1
filelock
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.69.2
gpustat==1.1.1
grapheme==0.6.0
grpcio==1.71.0
hjson==3.1.0
httplib2==0.22.0
huggingface-hub==0.29.3
idna
Jinja2
joblib==1.4.2
kiwisolver==1.4.8
Levenshtein==0.27.1
loguru==0.7.3
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.0
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
msgpack==1.1.0
multidict==6.2.0
multiprocess==0.70.16
networkx
ninja==1.11.1.4
nltk==3.9.1
numpy==1.26.4
nvidia-ml-py==12.570.86
nvitop==1.4.2
optree==0.14.1
osqp==1.0.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.7
portalocker==3.1.1
propcache==0.3.0
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pymoo==0.6.1.3
pyparsing==3.2.3
PySocks
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-Levenshtein==0.27.1
pytz==2025.2
PyYAML
RapidFuzz==3.12.2
regex==2024.11.6
requests
rich==13.9.4
rouge==1.0.1
rouge_score==0.1.2
rsa==4.9
sacrebleu==2.5.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
scs==3.2.7.post2
sentencepiece==0.2.0
sentry-sdk==2.24.1
setproctitle==1.3.5
shtab==1.7.1
six==1.17.0
smmap==5.0.2
sympy
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tokenizers==0.15.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.39.3
triton==3.1.0
trl==0.9.6
typeguard==4.4.2
typing_extensions
tyro==0.9.17
tzdata==2025.2
uritemplate==4.1.1
urllib3
wandb==0.19.8
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
xxhash==3.5.0
yarl==1.18.3
